<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"> 
	<title>CYOA</title>
	<style>
		{{{style}}}
	</style>
	<style>
		{{{customCss}}}
	</style>
</head>
<body>
	{{#title}}
	<h1>{{{title}}}</h1>
	{{/title}}
	{{#sections}}
	<section id="{{{id}}}" class="{{{classes}}}">
		{{#title}}
		<h2>{{{title}}}</h2>
		{{/title}}
		{{#description}}
		<div class="section-description description">
			{{{description}}}
		</div>
		{{/description}}
		<div class="options {{imageClass}} row{{numPerRow}}">
			{{#options}}
			<div id="{{{id}}}" class="option {{{classes}}}">
				{{#image}}
				<img src="{{image}}"/>
				{{/image}}
				<div class="boxes">
					{{#cost}}
					<div class="cost"><span class="default-prefix">Cost: </span><span class="gain-prefix">Gain: </span>{{{cost}}}</div>
					{{/cost}} 
					{{#rollRange}}
					<div class="roll">{{{rollRange}}}</div>
					{{/rollRange}}
				</div>
				{{#title}}
				<h3>{{{title}}}</h3>
				{{/title}}
				{{#description}}
				<div class="option-description description">
					{{{description}}}
				</div>
				{{/description}}
			</div>
			{{/options}}
		</div>
	</section>
	{{/sections}}
</body>
</html>
