* {
	padding: 0;
	margin: 0;
}

body {
	font-family: {{{font}}}, sans-serif;
	background: url({{{backgroundImageBlended}}});
	background-position: center;
	width: 1240px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	color: {{{textColor}}};
}

h1, h2, .section-description, .option {
	border-radius: 16px;
	overflow: hidden;
	background-color: {{{optionColor}}};
	margin: 16px 0;
}

h1, h2, h3 {
	text-align: center;
	font-style: italic;
	padding: 8px;
}
h1 {
	margin-top: 48px;
	font-size: 64px;
	margin-bottom: -48px;
}
h2 {
	font-size: 48px;
}
h3 {
	font-size: 24px;
	padding-top: 12px;
	padding-bottom: 0;
}

section {
	width: 100%;
	margin: 64px 0;
}

.section-description {
	padding: 8px 25%
}
.option-description {
    padding: 8px;
}

.description p {
	margin: 8px;
}

.options {
	display: flex;
	flex-wrap: wrap;
	margin: -8px;
}
.option {
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 8px;
}
.row1 .option {
	width: calc((100% - 16px * 1) / 1);
}
.row2 .option {
	width: calc((100% - 16px * 2) / 2);
}
.row3 .option {
	width: calc((100% - 16px * 3) / 3);
}
.row4 .option {
	width: calc((100% - 16px * 4) / 4);
}
.row5 .option {
	width: calc((100% - 16px * 5) / 5);
}
.option.mycost .cost .default-prefix, .option.gain .cost .default-prefix, .option:not(.gain) .cost .gain-prefix {
	display: none;
}

.left-images img, .alternating-images .option:nth-of-type(2n+1) img {
	width: 50%;
	margin-right: 16px;
	float: left;
}
.right-images img, .alternating-images .option:nth-of-type(2n) img {
	width: 50%;
	margin-left: 16px;
	float: right;
}
.top-images img {
	width: 100%;
}

.boxes div {
	border: 2px solid transparent;
	background-color: {{{optionColor}}};
}
.top-images img + .boxes {
    margin-top: -5px;
}
.left-images .boxes div, .top-images .boxes div, .alternating-images .option:nth-of-type(2n+1) .boxes div {
	height: 22px;
	float: right;
	padding: 8px 14px 8px 12px;
	border-right: none;
	border-top: none;
}
.left-images .boxes div:last-of-type, .top-images .boxes div:last-of-type, .alternating-images .option:nth-of-type(2n+1) .boxes div:last-of-type {
	border-bottom-left-radius: 20px;
}
.right-images .boxes div, .alternating-images .option:nth-of-type(2n) .boxes div {
	height: 22px;
	float: left;
	padding: 8px 12px 8px 14px;
	border-left: none;
	border-top: none;
}
.right-images .boxes div:last-of-type, .alternating-images .option:nth-of-type(2n) .boxes div:last-of-type {
	border-bottom-right-radius: 20px;
}

ul {
	list-style: 
}
li {
	margin-left: 32px;
}
